<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <groups>
        <run>
            <include name="Master"/>
        </run>
    </groups>

    <test name="Run Master Group">
        <classes>
            <class name="MasterTest.*"/>
        </classes>
    </test>

</suite>
